# Python
__pycache__/
*.pyc

# Virtual Environment
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Environment Variables
.env

# Streamlit
.streamlit/secrets.toml

# Models (optional if very large)
*.pkl

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db
